<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vn.sunstarpro" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SunStar Pro</name>
    <description>
        GOLDWELL
    </description>
	<preference name="Fullscreen" value="false" />
	<preference name="Orientation" value="portrait" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="KeyboardShrinksView" value="true" />
	<preference name="android-windowSoftInputMode" value="stateUnchanged|adjustPan" />
    <author email="tungdo@neonstudio.us" href="mailto:tungdo@neonstudio.us">
        Neon Dev Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
